body {
    width: 95vw;
    height: 100vh;
    background: linear-gradient(144deg, #a7c7e7 0%, #7fb3d5 100%);
    color: #222;
    font-family: 'Segoe UI', Arial, sans-serif;
}

.contenedorPrincipal {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    color: #222;
}

.contProcesos {
    box-shadow: 0 0 10px #b3cde0;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    width: fit-content;
    background: #d6eaf8;
    font-weight: bold;
    margin-bottom: 10px;
    color: #222;
}

.contenedorEstados {
    display: flex;
    gap: 3em;
    justify-content: center;
}

.tablaEsperaDiv {
    background: #eaf6fb;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px #b3cde0;
    min-width: 220px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;
}

th,
td {
    border: 1px solid #b3cde0;
    padding: 8px 12px;
    text-align: center;
}

th {
    background: #aed6f1;
    color: #222;
    font-weight: bold;
}

tr:nth-child(even) td {
    background: #d6eaf8;
}

tr:nth-child(odd) td {
    background: #eaf6fb;
}

h2 {
    text-align: center;
    color: black;
}


.mostrarEjecucion {
    background: #aed6f1;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 0 10px #b3cde0;
    min-width: 220px;
    color: #222;
    font-size: 1.1em;
    margin-bottom: 10px;
}


#btnVerResultados {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
}

button {
    cursor: pointer;
    background-color: rgb(33, 192, 255);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    font-size: 1em;
    transition: all .3s ease;
}

button:hover {
    transform: scale(1.05);
    box-shadow: 2px 2px 10px aqua;
}